body {
  background-color: black;
}

#nav-bar {
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  color: #919191;
  top:0;
  left:0;
  right:0;
  height:50px;
  background-color: #1e1e1e;
  z-index:50;
  overflow: hidden;
  /*border-bottom: 2px inset #440044;*/
}

#nav-bar #title {
  position: absolute;
  font-size: 0.9em;
  font-weight: 700;
  padding-left: 10px;
  top:0;
  bottom:0;
  left:0;
  right:50%;
  line-height: 50px;
  text-align: left;
}

#nav-bar #nav-button-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top:0;
  bottom:0;
  left:50%;
  right:0%;
}

#nav-bar #nav-button-container .nav-button {
  font-size: 0.9em;
  list-style: none;
  line-height: 50px;
  transition-property: color border-bottom;
  transition-duration: 0.3s;
  cursor: pointer;
  border-bottom: 0px inset #EBC702;
}

#nav-bar #nav-button-container .nav-button:hover {
  color:#EBC702;
  transition-property: color border-bottom;
  transition-duration: 0.3s;
  border-bottom: 6px inset #EBC702;
}

@media (max-width:530px) {
  #nav-bar #nav-button-container .nav-button {
    font-size: 0.8em;
  }

  #nav-bar #title {
    font-size: 0.8em;
  }
}

@media (max-width:475px) {
  #nav-bar #nav-button-container {
    display: none;
  }
  #nav-bar #title {
    left:0;
    right:0;
    text-align: center;
    font-size: 0.9em;
  }
}

#intro {
  height: 100vh;
  width:100%;
  background-color: black;
  text-align: center;
  background: black url('../images/intro2.jpg') no-repeat center;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

#intro h1 {
  font-size: 30px;
  font-weight: 400;
  /*padding-top: 340px;*/
  padding-top: 44vh;
  color: #EBC702;
  letter-spacing: 3px;
  /*text-shadow: 0px 0px 2px #EBC702;*/
}

#intro h2 {
  font-size: 20px;
  font-weight: 400;
  padding-top:5px;
  color: #EBC702;
}

#icon-container {
  display: flex;
  justify-content: space-between;
  width: 160px;
  padding-top: 5px;
  margin: 0 auto;
  color: grey;
}

#skills-list #javascript {
  position: absolute;
  top:40%;
  left: 17%;
  color: grey;
}

#skills-list #ruby-on-rails {
  position: absolute;
  bottom:32%;
  right: 40%;
  color: grey;
}

#skills-list #HTML5 {
  position: absolute;
  top:55%;
  left: 8%;
  color: grey;
}

#skills-list #CSS3 {
  position: absolute;
  top:37%;
  left: 37%;
  color: grey;
}

#skills-list #ReactJS {
  position: absolute;
  top:39%;
  right: 36%;
  color: grey;
}

#skills-list #SQL {
  position: absolute;
  bottom:35%;
  left: 24%;
  color: grey;
}

#skills-list #d3 {
  position: absolute;
  top:41%;
  right: 25%;
  color: grey;
}

#skills-list #Rspec {
  position: absolute;
  bottom:35.5%;
  right: 20%;
  color: grey;
}

#skills-list #jQuery {
  position: absolute;
  top:49%;
  right: 10%;
  color: grey;
}

#projects {
  height: auto;
  width:100%;
  text-align: center;
  background-color: black;
  /*background: url('../images/projectbackground3.jpg') repeat-y fixed top;*/
  font-family: 'Open Sans', sans-serif;
}

#projects h2 {
  color: #EBC702;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  padding: 30px 30px;
  background-color: black;
}

.project-spacer {
  width:100%;
  height:2px;
  background-color: black;
}

.project-image {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-item-left {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  background-color: #440044;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.project-item-left .project-image {
  position: absolute;
  left:0;
  top:0;
  width:400px;
  height: 300px;
  box-shadow: 1px 0 1px black;
}

.project-item-left .project-text {
  position: absolute;
  z-index:10;
  top:0;
  left:400px;
  right:0;
  bottom:0;
  padding:30px;
  color: #afafaf;
}

.project-item-left ul {
  position: absolute;
  top: 50%;
  padding-right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
}

.project-item-right {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  /*background-color: #440044;*/
}

.project-item-right .project-image {
  position: absolute;
  z-index:10;
  right:0;
  top:0;
  width:400px;
  height: 300px;
  box-shadow: -5px 0px 5px black;
}

.project-item-right .project-text {
  position: absolute;
  top:0;
  left:0px;
  right:400px;
  bottom:0;
  padding:30px;
  color: #afafaf;
}

.project-item-right ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

#projects ul li {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
}

#projects .project-title {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 26px;
  padding-top: 0px;
}

#projects .project-description {
  font-size: 18px;
  padding-top: 0px;
  font-style: italic;
}

#projects .project-tech {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 4px;
  /*font-style: italic;*/
}

@media (max-width:799px) {
  .project-item-left {
    height:auto;
  }
  .project-item-left .project-image {
    position: static;
    margin: 0 auto;
    margin-top: 20px;
    width:70vw;
    height:52.5vw;
    background-position: top left;
    box-shadow: 0px 0px 3px black;
  }
  .project-item-left .project-text {
    position: static;
    font-size:0.9em;
  }
  .project-item-right {
    height:auto;
  }
  .project-item-right .project-image {
    position: static;
    margin: 0 auto;
    margin-top: 20px;
    width:70vw;
    height:52.5vw;
    background-position: top left;
    box-shadow: 0px 0px 10px black;
  }
  .project-item-right .project-text {
    position: static;
    font-size:0.9em;
  }
  .project-item-right ul {
    position: static;
    transform: none;
    text-align: left;
  }
  .project-item-left ul {
    position: static;
    transform: none;
    text-align: left;
    padding-right: 0px;

  }
  #projects .project-title {
    font-size:2em;
  }
  #projects .project-description {
    font-size:1.5em;
  }
}

@media (max-width:500px) {
  .project-item-right .project-text {
    top:280px;
    left:0;
    right:0;
    bottom:0;
    font-size:0.9em;
  }
}

@media (max-width:400px) {
  .project-item-left .project-text {
    font-size:0.7em;
  }
  .project-item-right .project-text {
    font-size:0.7em;
  }
  .project-item-right ul {
    text-align: left;
  }
  #projects .project-title {
    font-size:2em;
  }
  #projects .project-description {
    font-size:1.5em;
  }
}

#experience {
  height: auto;
  width:100%;
  background-color: black;
  font-size:16px;
  /*background: url('../images/projectbackground3.jpg') repeat-y fixed top;*/
  font-family: 'Open Sans', sans-serif;
}

#experience h2 {
  color: #EBC702;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  padding: 30px 30px;
  background-color: black;
  text-align: center;
}

#experience a {
  color: #92639b;
}

.experience-item {
  /*display: none;*/
  width:auto;
  height:auto;
  color: #afafaf;
  padding: 40px 30px 40px 30px;
  background-color: #280028;
}

.experience-position {
  font-size:1.8em;
  font-family: 'Dosis', sans-serif;
}

.experience-company {
  font-size:1.5em;
  font-family: 'Dosis', sans-serif;
  width:auto;
}

.experience-item .time-frame {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:0.9em;
}

#experience ul li {
  padding-top:10px;
}

@media (max-width:550px) {
  #experience {
    font-size:15px;
  }
  .experience-item {
    padding: 20px 20px 20px 20px;
  }
}

#footer {
  position: relative;
  width: 100%;
  height:50px;
  background-color: #1e1e1e;
  box-shadow:0px -2px 2px #1e1e1e;
  color: #EBC702;
  font-family: 'Dosis', sans-serif;
}

#footer #attribution {
  height:100%;
  position:relative;
  width:95%;
  text-align: right;
}

#footer #attribution p {
  margin: 0 auto;
  width:100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
